<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996567310048-de01emjieco6fsqm21bsv8rs0sormfug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996567310048-de01emjieco6fsqm21bsv8rs0sormfug</string>
	<key>API_KEY</key>
	<string>AIzaSyA4JMahuRjzxwNfcPslT4HJ3hspJ9fjnCE</string>
	<key>GCM_SENDER_ID</key>
	<string>996567310048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.connorlynch.CloseBuy</string>
	<key>PROJECT_ID</key>
	<string>closebuyapp-c26ad</string>
	<key>STORAGE_BUCKET</key>
	<string>closebuyapp-c26ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:996567310048:ios:077afc86304997501f7a85</string>
</dict>
</plist>
